:root {
    --primary-color: #c0c0c0;
    --primary-color--dark: #808080;
    --alarm-color: #f80000;

    --info-one-color: #0200fc;
    --info-two-color: #017e00;
    --info-three-color: #ff0000;
    --info-four-color: #010080;
    --info-five-color: #7f0300;
    --info-six-color: #008080;
    --info-seven-color: #000000;
    --info-eight-color: #808080;

    --cell-size: 4rem;
    --game-padding: 1.5rem;
    --border-width: 0.3rem;
    --cells-in-row: 8;

    --game-max-width: calc(var(--cell-size) * var(--cells-in-row) + calc(2 * var(--game-padding)) + calc(2 * var(--border-width)));
}

@font-face {
    font-family: DIGITALDREAM;
    src: url('../assets/DIGITALDREAM.ttf');
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.game {
    background-color: var(--primary-color);
    margin-left: auto;
    margin-right: auto;
    padding: var(--game-padding);
    max-width: var(--game-max-width);
}

.game__board {
    display: flex;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
}

.header__counter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5em;
    min-width: 9rem;
    background-color: #000;
    color: var(--alarm-color);
    font-family: 'DIGITALDREAM', sans-serif;
    font-size: 3.2rem;
}

.header__reset {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    outline: none;
}

.header__button {
    width: 4.8rem;
    height: 4.8rem;
    cursor: pointer;
}

.panel__header {
    text-align: center;
    font-size: 2.6rem;
}

.panel__buttons {
    display: flex;
}

.button, .menu-options__form-button {
    flex: 1;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-size: 2.4rem;
    cursor: pointer;
}

.button:last-child {
   width: 100%;
}

.modal, .menu-options{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
}

.modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    height: 50vh;
    background-color: #fff;
}

.modal__text {
    font-size: 4.8rem;
    text-align: center;
}

.modal__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #000;
    border: .3rem solid #000;
    font-size: 2.4rem;
    cursor: pointer;
    outline: none;
    transition: background-color .1s ease-in, color .1s ease-in, border-color .1s ease-in;
}

.modal__button:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.border {
    border: var(--border-width) solid;
}

.border--convex {
    border-color: var(--primary-color--dark) #fff #fff var(--primary-color--dark);
}

.border--concave {
    border-color: #fff var(--primary-color--dark) var(--primary-color--dark) #fff;
}

.border--revealed {
    border-width: .1rem;
    border-color: var(--primary-color--dark);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-size: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell--is-flag {
    background-image: url('../assets/flag.svg');
}

.cell--is-mine {
    background-image: url('../assets/bomb.svg');
    background-color: var(--alarm-color);
    background-size: 90%;
}

.cell-info-1 {
    color: var(--info-one-color);
}

.cell-info-2 {
    color: var(--info-two-color);
}

.cell-info-3 {
    color: var(--info-three-color);
}

.cell-info-4 {
    color: var(--info-four-color);
}

.cell-info-5 {
    color: var(--info-five-color);
}

.cell-info-6 {
    color: var(--info-six-color);
}

.cell-info-7 {
    color: var(--info-seven-color);
}

.cell-info-8 {
    color: var(--info-eight-color);
}

.hide {
    visibility: hidden;
}

.menu-options {
    flex-direction: column;
    color: white;
}

.menu-options__header {
    line-height: 6rem;
    font-size: 3rem;
}

.menu-options__describe-header{
    color: var(--alarm-color);
    font-weight: 600;
}

.menu-options__describe {
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.menu-options__error {
    padding: 1rem;
    color: var(--alarm-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.menu-options__form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
}

.menu-options__label {
    display: flex; 
    align-items: center;
    margin: 1rem 0;
    font-size: 2.2rem;
}

.menu-options__input {
    margin-left: 1.6rem;
    width: 5.6rem;
    height: 4.5rem;
    font-size: 2rem;
    text-align: center;
}

.menu-options__checkbox {
    align-self: flex-end;
    margin-left: 1.6rem;
    width: 2.5rem;
    height: 2.5rem;
}

.menu-options__form-button {
    margin-top: 2rem;
    padding: 1rem 2rem;
}

.menu-options__form-button:first-child {
    margin-right: 3rem;
}
.menu-options__form-button:last-child {
    margin-left: 3rem;
}
